# ASR
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
speechbrain==0.5.13
pyctcdecode==0.5.0
transformers==4.17.0
fastapi==0.92.0
uvicorn==0.20.0
python-multipart==0.0.5
https://github.com/kpu/kenlm/archive/master.zip

# Inverse Normalizer
# pynini==2.1.5
# Levenshtein==0.20.9

# Webm -> Wav
pydub==0.25.1   # must install ffmpeg
ffprobe